<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfinalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/recipe_finder" android:name=".recipeFinder.RecipeFinder" android:theme = "@style/RecipeTheme" android:usesCleartextTraffic="true" ></activity>
        <activity android:label="@string/recipe_finder" android:name=".recipeFinder.EmptyRecipeActivity" android:theme = "@style/RecipeTheme" android:usesCleartextTraffic="true" ></activity>
        <activity android:label="@string/news" android:name=".news.News" />
        <activity android:label="@string/charging_station" android:name=".CarChargingStation.CarChargingStation" />
        <activity android:label="@string/currency" android:name=".currencyConverter.CurrencyConverter"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".CarChargingStation.CarStationDetails"></activity>
        <activity android:name=".CarChargingStation.CarEmpty" />
        <activity android:name=".CarChargingStation.CarFavourites" />
        <activity android:name=".CarChargingStation.CarSearchResults" />
        <activity android:name=".CarChargingStation.CarHelp" />
        <activity android:name=".CarChargingStation.CarMain">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>